@font-face {
    font-family: 'Fira Sans';
    src: url('../fonts/FiraSans_Bold.ttf');
}
*{
    /*COLORES:*/
    -FONDO-OSCURO-PRIM: #40444F;
    -FONDO-OSCURO-SEC: #515A67;
    -FONDO-CLARO-PRIM: #7497A7;
    -FONDO-CLARO-SEC: #698594;
    -TUTULOS-CLARO: #E0EEF6;
    -TITULOS-OSCURO: #8FADBB;
    -FONDO-VERDE: #3A7361;
    -TEXTO-VERDE: #C9E4DB;
    -FONDO-ROJO: #7C2034;
    -TEXTO-ROJO: #F2CED7;
    
    /* Nuevos colores*/
    -ROJO-FODO: #870000;
    /*PALETA    https://coolors.co/u/user95698 */
    -ROJO-FUERTE:#8c1c13;
    -ROJO-SUAVE:#bf4342;
    -AMARILLO-CLARO:#e7d7c1;
    -BEISH-CLARO:#a78a7f;
    -BEISH-OSCURO:#735751;
    -BLANCO-LETRAS:#E0EEF6;
        
    /*ROJOS Y VERDES*/
    -FONDO-GREEN:#0C9468;
    -TXT-GREEN: #C9E4DB;
    -FONDO-RED:#870000;
    -TEXT-RED: #F2CED7;
}
.darkLoginWindow{
    
    -fx-background-color: -FONDO-OSCURO-PRIM;
    -fx-border-color:-TUTULOS-CLARO;
    -fx-border: 10px;

    -fx-alignment: 'CENTER';
    -fx-pref-height: 500px;
    -fx-pref-width: 500px;
}

.darkTextField{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 20px;
    -fx-prompt-text-fill: #8FADBB;
    -fx-text-fill: #E0EEF6;

    -fx-alignment: 'CENTER';
    -fx-background-color: #515A67;
    -fx-background-radius:  0 15 15 0 ;
    -fx-pref-height: 40px;
    /*-fx-pref-width: ;*/
}
.darkLabel{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 30px;
    -fx-prompt-text-fill: #8FADBB;
    -fx-text-fill: -BEISH-CLARO;

    /*-fx-alignment: 'CENTER';*/
    /*-fx-pref-height: 40px;*/
}
.clearLabel{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 30px;
    -fx-prompt-text-fill: -TUTULOS-CLARO;
    -fx-text-fill:  -TUTULOS-CLARO;

    /*-fx-alignment: 'CENTER';*/
    /*-fx-pref-height: 40px;*/
}
.darkBoxLabel{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 15px;
    -fx-prompt-text-fill: #8FADBB;
    -fx-text-fill: #E0EEF6;

    -fx-alignment: 'CENTER-RIGHT';
    -fx-background-color: #515A67;
    -fx-background-radius: 15px 0 0 15;
    -fx-pref-height: 40px;
    /*-fx-pref-width: 1rem;*/
    -fx-background-insets: 0 0 0 -15px;
}

.primaryButton{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 20px;
    -fx-text-fill: -TUTULOS-CLARO;

    -fx-background-color: #7497A7;
    -fx-background-radius: 15px;
    -fx-pref-height: 40px;
    /*-fx-pref-width: 100px;*/
}
.confirmButton{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 18px;
    -fx-text-fill: -TEXTO-VERDE;

    -fx-background-color: -FONDO-VERDE;
    -fx-background-radius: 15px;
    -fx-pref-height: 45px;
}

.cancelButton{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 18px;
    -fx-text-fill: -TEXTO-ROJO;

    -fx-background-color: -FONDO-ROJO;
    -fx-background-radius: 15px;
    -fx-pref-height: 45px;
}

/*NUEVO DISEÑO*/



.back{
    -fx-font-color: #870000;
    /*-fx-background: -webkit-linear-gradient(to right, #190A05, #870000);*/
    -fx-background: linear-gradient(to right, #190A05, #870000);
    -fx-border-color: linear-gradient(to right, #190A05, #570000);
    -fx-border-width: 2px,2px,2px,2px;
    /*-fx-paddin-color: -BEISH-OSCURO;*/
/*background: #870000;   fallback for old browsers */
/*background: -webkit-linear-gradient(to right, #190A05, #870000);   Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #190A05, #870000);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backMenuBot{
    -fx-background-color: linear-gradient(to left, #715A67, #515A67);
    -fx-border-color: linear-gradient(to right, #190A05, #570000);
    -fx-border-width: 2px,2px,2px,2px;
    
/*    -fx-background-color: #515A67;
    -fx-alignment: CENTER-LEFT  ;*/
    /*-fx-spacing: 15px;*/

    /*-fx-pref-height: 300px;*/
    /*-fx-pref-width: 200px;*/
    /*-fx-background-radius: 0 20px 20 0;*/
}

.backMenuTop{
    
    -fx-background-color: linear-gradient(to right, #190A05, #870000);
    -fx-border-color: linear-gradient(to left, #715A67, #515A67);
    -fx-border-width: 2px,2px,2px,2px;
    
    -fx-background-radius: 0 10px 10 0;
}

.titulosClaros{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 30px;
    -fx-prompt-text-fill: -BEISH-OSCURO;
    -fx-text-fill: -BLANCO-LETRAS    ; 
}

/*Quitar linea */

/*TextFiel*/
.jfx-text-field .input-line
{
    -fx-background-color: transparent;
}

.jfx-text-field
{
    -jfx-focus-color: transparent;
}

/*Combobox*/
.jfx-combo-box .input-line
{
    -fx-background-color: transparent;
}

.jfx-combo-box
{
/*    
    -fx-text-inner-color: red;
    -fx-prompt-text-fill: yellow;*/
    -jfx-focus-color: transparent;
    /*-fx-background-color:  red;*/
}

/*.jfx-combo-box {
    -fx-text-inner-color: red;
    -fx-prompt-text-fill: yellow;
}*/

.jfx-combo-box .cell:hover{
     -fx-background-color:  linear-gradient(to right, #c78a7f, #a78a7f);
}

.jfx-combo-box .cell {
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 15px;
    -fx-prompt-text-fill: -BEISH-OSCURO;
    -fx-text-fill: -BLANCO-LETRAS;

    -fx-alignment: 'CENTER';
    -fx-background-color: -BEISH-OSCURO;
    /*-fx-background-radius:  0 15 15 0 ;*/
    /*-fx-pref-height: 40px;*/
}

/*PasswordField*/
.jfx-password-field .input-line
{
    -fx-background-color: transparent;
}

.jfx-password-field
{
    -jfx-focus-color: transparent;
}

/*Quitar linea de abajo */
.FormularioLabel{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 15px;
    -fx-prompt-text-fill: -BEISH-OSCURO;
    -fx-text-fill: -BLANCO-LETRAS;

    -fx-alignment: 'CENTER-RIGHT';
    -fx-background-color: -BEISH-OSCURO;
    -fx-background-radius: 15px 0 0 15;
    -fx-pref-height: 40px;
    /*-fx-pref-width: 1rem;*/
    -fx-background-insets: 0 0 0 -15px;
}
.FormularioTextField{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 15px;
    -fx-prompt-text-fill: -BEISH-OSCURO;
    -fx-text-fill: -BLANCO-LETRAS;

    -fx-alignment: 'CENTER';
    -fx-background-color: -BEISH-OSCURO;
    -fx-background-radius:  0 15 15 0 ;
    -fx-pref-height: 40px;
    /*-fx-pref-width: ;*/
}
.OkButton{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 18px;
    -fx-text-fill: -TXT-GREEN;

    -fx-background-color: -FONDO-GREEN;
    -fx-background-radius: 15px;
    -fx-pref-height: 45px;
}
.OkButton:hover{
    color: #3A7361;
}

.NotButton{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 18px;
    -fx-text-fill: -TEXT-RED;

    -fx-background-color: -FONDO-RED;
    -fx-background-radius: 15px;
    -fx-pref-height: 45px;
    
    
}

.ButtonPrinicpal{
    
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 20px;
    -fx-text-fill: #E0EEF6;

    -fx-background-color: linear-gradient(to right, #c78a7f, #a78a7f);
    -fx-background-radius: 15px;
    -fx-pref-height: 40px;
    /*-fx-pref-width: 100px;*/
    -fx-effect: dropshadow( gaussian, rgba(0, 0, 0, 0.4), 10, 0.5, 1.0, 1.0 );
}


/*MENU LATERAL*/
.ButtonLeft{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 20px;
    -fx-text-fill: #E0EEF6;

    -fx-background-color: #40444F;
    -fx-background-radius: 0 10px 10 0;
    -fx-min-height: 50px;
    -fx-pref-width: 250px;
}


.NotButtonMenuLat{
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 20px;
    -fx-text-fill: -TEXT-RED;

    -fx-background-color: -FONDO-RED;
    -fx-background-radius: 0 10px 10 0;
    -fx-min-height: 50px;
    -fx-pref-width: 250px;
    
}

/*VISTA PRINCIPAL*/

.FondoPrincipal{
     -fx-font-family: 'Fira Sans';
    -fx-font-size: 30px;
    /*-fx-text-fill: #F2CED7;*/
    /*-fx-background: -webkit-linear-gradient(to right, #190A05, #870000);*/
    -fx-background: linear-gradient(to left, #39323c, #28323c);
    -fx-border-color: linear-gradient(to right, #190A05, #570000);
    -fx-border-width: 2px,2px,2px,2px;
    
}
.TitulosPrincipal{
    
    -fx-font-family: 'Fira Sans';
    -fx-font-size: 30px;
    -fx-text-fill: #E0EEF6;
}

.jfx-hamburger StackPane {
	-fx-background-color: #E0EEF6;

}
.separator{
    -fx-background-color: -BLANCO-LETRAS;
    -fx-background-radius: 5;
}

.FondoVBoxPrincipal{
    -fx-background: linear-gradient(to left, #39323c, #28323c);
    /*-fx-border-color: linear-gradient(to right, #190A05, #570000);*/
}
.FondoSombra{
    -fx-background-color: linear-gradient(to left, #39323c, #28323c);;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0,1.5);
    -fx-padding: 25 15 15 15;
}